.jumbotron{
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background:hsl(256, 26%, 20%);
    color:floralwhite;
}
.content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-top:0px ridge;
    min-height:400px;
}
.headings{
    font-family:"DM Serif Display";
    font-style:"bold";
}
body{
    font-family:"Karla";
    font-size:16px;
}
